<%= form_for :enduser,:html => {:class => "form-inline"} do |u| %>
      <p>
        <%= u.label :title %><br>
        <%= u.text_field :title,class:"col-xs-6" %>
      </p>
      <br>
     <p > 
       <%= u.label :font %><br>
        <%= u.text_field :font,class:"col-xs-6" %>
      </p>
      <br>
      <p>
        <%= u.label :background %><br>
        <%= u.text_field :background,class:"col-xs-6" %>
      </p>
     <br >
      <p>
        <%= u.submit  :class => "btn btn-success"%>
      </p>
    <% end %>
